@font-face {
    font-family: defult;
    src: url("../../home/css/default.woff2");
}
body{
    background-color: transparent !important;
    padding: 30px;
}
.card{
    font-family: defult;
    padding: 15px;
}
.card-title{
    font-size: 35px;
}
.card-title-1{
    font-size: 25px;
}
.card-title-2{
    font-size: 25px;
}
.route{
    font-size: 25px;
}
.fl{
    font-size: 25px;
}
.begin{
    font-size: 25px;
}
.release{
    font-size: 25px;
}
.application{
    position: absolute;
    right: 15px;
}
.back {
    color: #000000;
    font-size: 30px;
    display: inline-block;
}

.back a, .back i {
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.3s ease; /* Adding a smooth transition effect */
}

.back:hover a, .back:hover i {
    color: #9ec5fe;
}
#animatedCard {
    opacity: 0; /* Initially hide the card */
    animation: fadeInUp 1s forwards; /* Apply the fadeInUp animation */
}
::-webkit-scrollbar
{
    width:5px;
    height:5px;
    background-color:#F5F5F5;
}
/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#86b7fe;
}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb
{

    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color:#0d6efd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow */
}
.icon-container {
    display: inline-block;
}

.icon-container i {
    display: inline-block;
    width: 50px; /* 调整圆形的尺寸 */
    height: 50px; /* 调整圆形的尺寸 */
    line-height: 50px; /* 与宽高相同，使文本在圆形中垂直居中 */
    border-radius: 50%; /* 将边框设为圆形 */
    text-align: center; /* 使图标水平居中 */
    background-color: #75b798; /* 设定背景颜色 */
}
i{
    color: #198754;
}

